a {color: black; text-decoration: none;}    

h1:not(#interval) {font-size: 45px; 
    text-align: center; 
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 20px;}

#grid ul {border-right: 1px solid gray; 
    width: 50px;
    margin: 0px;
    padding: 20px;
    padding-left: 30px;}
    
#grid {display: grid; grid-template-columns: 150px 1fr;}

@media(max-width: 660px) 
    {
        #grid {display: block;}
        #grid ul{border-right: none;}
        h1 {border-bottom: none;}
    }

#interval {word-spacing: 20px;
    text-align: center;}

#img {text-align: center;}
